[submodule "Paddle"]
	path = Paddle
	url = https://github.com/PaddlePaddle/Paddle.git
[submodule "zyne"]
	path = zyne
	url = https://github.com/belangeo/zyne.git
[submodule "soundgrain"]
	path = soundgrain
	url = https://github.com/belangeo/soundgrain.git
[submodule "pyo"]
	path = pyo
	url = https://github.com/belangeo/pyo.git
[submodule "csound"]
	path = csound
	url = https://github.com/csound/csound.git
[submodule "cookdsp"]
	path = cookdsp
	url = https://github.com/belangeo/cookdsp.git
[submodule "cecilia5"]
	path = cecilia5
	url = https://github.com/belangeo/cecilia5.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "TensorFlow-Examples"]
	path = TensorFlow-Examples
	url = https://github.com/aymericdamien/TensorFlow-Examples.git
[submodule "awesome-tensorflow"]
	path = awesome-tensorflow
	url = https://github.com/jtoy/awesome-tensorflow.git
[submodule "carfac"]
	path = carfac
	url = https://github.com/google/carfac.git
[submodule "gtfblib"]
	path = gtfblib
	url = https://github.com/jthiem/gtfblib.git
[submodule "cochlea"]
	path = cochlea
	url = https://github.com/mrkrd/cochlea.git
[submodule "incubator-mxnet"]
	path = incubator-mxnet
	url = https://github.com/apache/incubator-mxnet.git
[submodule "mxnet-notebooks"]
	path = mxnet-notebooks
	url = https://github.com/dmlc/mxnet-notebooks.git
[submodule "mxnet-the-straight-dope"]
	path = mxnet-the-straight-dope
	url = https://github.com/zackchase/mxnet-the-straight-dope.git
[submodule "lucid"]
	path = lucid
	url = https://github.com/tensorflow/lucid.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "pure-data"]
	path = pure-data
	url = https://github.com/pure-data/pure-data.git
[submodule "Sound-Analyser"]
	path = Sound-Analyser
	url = https://github.com/adamstark/Sound-Analyser.git
[submodule "Beat-Tracking-Evaluation-Toolbox"]
	path = Beat-Tracking-Evaluation-Toolbox
	url = https://github.com/adamstark/Beat-Tracking-Evaluation-Toolbox.git
[submodule "Gist"]
	path = Gist
	url = https://github.com/adamstark/Gist.git
[submodule "Chord-Detector-and-Chromagram"]
	path = Chord-Detector-and-Chromagram
	url = https://github.com/adamstark/Chord-Detector-and-Chromagram.git
[submodule "BTrack"]
	path = BTrack
	url = https://github.com/adamstark/BTrack.git
[submodule "MoogLadders"]
	path = MoogLadders
	url = https://github.com/ddiakopoulos/MoogLadders.git
[submodule "secret-sauce"]
	path = secret-sauce
	url = https://github.com/tsellam/secret-sauce.git
[submodule "audiotoolkitplugins-code"]
	path = audiotoolkitplugins-code
	url = https://git.code.sf.net/p/audiotoolkitplugins/code
[submodule "libdsp-x15"]
	path = libdsp-x15
	url = https://github.com/henrix/libdsp-x15.git
[submodule "ctag-face-2-4"]
	path = ctag-face-2-4
	url = https://github.com/ctag-fh-kiel/ctag-face-2-4.git
[submodule "ALSA-sound-card-evaluation"]
	path = ALSA-sound-card-evaluation
	url = https://github.com/henrix/ALSA-sound-card-evaluation.git
[submodule "beagle-linux"]
	path = beagle-linux
	url = https://github.com/henrix/beagle-linux.git
